{#
/**
 * @file
 * Two column templates for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-checkout-form clearfix">
  {{ form }}
</div>
